body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.house {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    max-height: 220px;
}

.flue {
    left: 140px;
    position: absolute;
    width: 25px;
    min-height: 50px;
    background-color: #524c4c;
}

.roof {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid #ce945b;
    position: relative;
}

.foundation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    min-height: 150px;
    background-color: #ba552c;
}

.window {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #c1ebf1;
}

.door {
    width: 55px;
    height: 90px;
    align-self:flex-end;
    background-color: #864e0a;
}